@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
}
